.g-mode-large, .g-mode-medium, .g-mode-small, .IMG_2581, .like-large, .like-medium, .like-small, .like, .login-g, .login, .toggle-large, .toggle-medium, .toggle-small, .Untitled, .Untitled, .a, .next-large, .prev-large, .prev-medium, .next-medium, .next-small, .prev-small, .prev-xsmall, .next-xsmall{
	background: url(sprites.png) no-repeat;
}

.g-mode-large{
	background-position: -713.0000152587891px -470.00001525878906px ;
	width: 163px;
	height: 238px;
}

.g-mode-medium{
	background-position: -1026.0000762939453px -527.0000152587891px ;
	width: 122px;
	height: 178px;
}

.g-mode-small{
	background-position: -1243.0000762939453px -601.0000152587891px ;
	width: 70px;
	height: 101px;
}
