@import normalize
@import clearfix
@import vars
@import grid

body
  background: #0f0f0f

  #submit-image
    background-color: #747474
    text-align: center
    border: none
    margin-top: .5em
    margin-right: .5em

  .g-mode
    float: left
    margin-top: .5em
    margin-left: .5em

  #like
    position: absolute
    bottom: 0
    margin-left: 1em

.g-mode, #like, #prev, #next
  background: $thug-life

.column
  background: $current-meme

// set smallest as default here
header
  background-color: #0f0f0f
  height: 2.3em

.column
  background-color: #0f0f0f
  position: absolute
  min-height: 90%
  min-width: 100%
  background-size: 50%

.submit
  float: right
  vertical-align: middle

.logo
  color: white
  font-size: 1.5em
  padding-top: .175em
  text-align: center

.g-mode
  background-position: -602.0000152587891px -412.00001525878906px
  width: 35px
  height: 25px

// #next
//   background-position: -1325.0000762939453px -549.0000152587891px
//   width: 113px
//   height: 87px

// #prev
//   background-position: -84px -569.0000762939453px
//   width: 113px
//   height: 87px

#like
  background-position: -1162.0000762939453px -601.0000152587891px
  width: 69px
  height: 100px

// then use tablet size
@media (min-width: 40rem)
  header
    height: 2.8em

  .submit
    padding-top: .3em

  .logo
    font-size: 2em

  .g-mode
    background-position: -683.0000152587891px -410.00001525878906px
    width: 50px
    height: 36px

  // #next
  //   background-position: -1315.0000762939453px -408.00001525878906px
  //   width: 150px
  //   height: 115px

  // #prev
  //   background-position: -60px -429.00001525878906px
  //   width: 150px
  //   height: 115px

  #like
    background-position: -891.0000762939453px -529.0000152587891px
    width: 121px
    height: 176px

// desktop size
sizes reflect different sprites
@media (min-width: 64rem)
  header
    height: 3.6em

  .submit
    padding-top: .75em

  .g-mode
    background-position: -771.0000152587891px -406.00001525878906px
    width: 75px
    height: 54px

  .logo
    font-size: 2.5em

  // #next
  //   background-position: -1302.0000762939453px -230.00001525878906px
  //   width: 200px
  //   height: 153px

  // #prev
  //   background-position: -32px -244.00001525878906px
  //   width: 200px
  //   height: 153px

  #like
    background-position: -538.0000152587891px -470.00001525878906px
    width: 162px
    height: 236px

