$thug-life: url(../../../images/sprites.png) no-repeat
$admin: url(../../../images/login-sprites.png) no-repeat

$off-white: #EFE9E9

$my-margins: 10px 15px 0 0
$map: (key1: value1, key2: value2, key3: value3)

$current-meme: url(http://winningateverything.com/files/2011/06/jake2.jpg) no-repeat center

// http://winningateverything.com/files/2011/06/jake2.jpg
// https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3MOPcfDUaRcKWuY3bjlnIiZkdvjrZOu56T2MFiz8TCGgGFzO3CA






