<!doctype html>
<html lang="en">

    <form class="user" action"/" method="post">
      <h4 class="url">URL</h4>
      <input type="text" name="url"></input>
      <input type="submit" value="Submit" class="submit">
    </form>
</html>
