<header>
  <div class='admin-logo'>memeblr</div>
</header>
<div id='wrapper'>
  <div class='lolz'></div>
</div>
<form class="log" method="post" action="/login">
<div class='log-in'>
  <input id="username" type="text" placeholder="username"/>
  <input id="password" type="text" placeholder="password"/>
  <input type="submit" name="button" id="button" value="submit">
</div>
</form>
<div id='bot-cushion'></div>
