<!-- <!doctype html>
<html>
<head>
  <title>Admin Login Page</title>
</head>
<body>
  <form method="post" action="/login">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="text" id="password" name="password">
      <input type="submit" value="AdminLogin">
    </div>

  </form>
</body>
</html> -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>memeblr</title>
  <link rel="stylesheet" href="./frontend/css/shoestring/0.0.1/shoestring.min.css">
  <script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class='admin-logo'>memeblr</div>
  </header>
  <div id='wrapper'>
    <div class='lolz'></div>
  </div>
  <form class="log" method="post" action="/login">
  <div class='log-in'>
    <input id="username" type="text" placeholder="username"/>
    <input id="password" type="text" placeholder="password"/>
    <input type="submit" name="button" id="button" value="submit">
  </div>
</form>
  <div id='bot-cushion'></div>
<script src="js/app.js"></script>
</body>
</html>


