<header>
  <div class='g-mode'></div>
  <div class="delete">delete</div>
  <div class="admin-like">like</div>
  <div class='logo'>memeblr</div>
</header>
<div class='column'>
  <div id='prev'>prev</div>
  <div id='next'>next</div>
</div>
<script src="js/app.js"></script>
<div class='shehzan'>
<div id='like'></div>
<div id='g-like'></div>
</div>

