<!doctype html>
<html>
<head>
  <title>Admin Login Page</title>
</head>
<body>
  <form method="post" action="/login">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="text" id="password" name="password">
      <input type="submit" value="AdminLogin">
    </div>

  </form>
</body>
</html>

