<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>memeblr</title>
  <link rel="stylesheet" href="./frontend/css/shoestring/0.0.1/shoestring.min.css">
  <script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class='g-mode'></div>
    <div class="submit">
      <form class="log" method="post" action="/">
      <input id="submit-image" type="text" placeholder=" enter image url here"/>
      </form>
    </div>
    <div class='logo'>memeblr</div>
  </header>
  <div class='column'>
    <div id='prev'>prev</div>
    <div id='next'>next</div>
  </div>
<script src="js/app.js"></script>
<div id='like'></div>
<div id='g-like'></div>
</body>
</html>
