<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>memeblr</title>
  <link rel="stylesheet" href="./frontend/css/shoestring/0.0.1/shoestring.min.css">
  <script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body>

    <%= yield %>


<!-- <script src="js/app.js"></script> -->
<div id='like'></div>
</body>
</html>
