<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>memeblr</title>
  <link rel="stylesheet" href="./frontend/css/shoestring/0.0.1/shoestring.min.css">

</head>
<body>
  <%= yield %>

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="/frontend/js/app.js"></script>
</body>
</html>
